body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

button {
    align-content: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Add this style for the scroll end effect */
#scroll-end {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

#scroll-end.show {
    opacity: 1;
}


section {
    margin: 20px;
}

h2 {
    color: turquoise;
}

p {
    line-height: 1.5;
}
.container {
    color: palevioletred;
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: whitesmoke;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.image-container_orig {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.plant-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 200px; /* Set the desired width for other images */
    height: 150px; /* Set the desired height for other images */
    object-fit: cover; /* Preserve aspect ratio and cover the container */
}

video {
    max-width: 100%;
    height: auto;
}

.center-video {
    display: block;
    margin: 0 auto;
}

#AutoEncode_arch {
    text-align: center;
}

#AutoEncode_arch .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#AutoEncode_arch img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}



#GAN_Model_arch {
    text-align: center;
}

#GAN_Model_arch .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#GAN_Model_arch img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


header {
    background-color: #4CAF50; /* Green color */
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}


section {
    margin: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}


.image-container img,
.plant-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover,
.plant-container img:hover {
    transform: scale(1.1);
}

.container,
section {
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
